{% extends 'admin/base.html.twig' %}

{% block title %}Modification du commentaire N°{{comment.id}}{% endblock %}

{% block body %}
    <div class="container-fluid">
        <h1 class="my-5">Modification du commentaire N°{{comment.id}}</h1>

        
        <div class="alert alert-info">
            <strong>Annonce liée : </strong> {{ comment.ad.title}}<br>
            <strong>Auteur : </strong> {{comment.author.fullName }}<br>
            <strong>Date de création : </strong> {{comment.createdAt|date('d/m/Y H:i')}}<br>
            <strong>Note donnée : </strong> {{ comment.rating}}
        </div>
        {{ form_start(form)}}

        {{ form_widget(form)}}
        <button type="submit" class="btn btn-primary float-right">
            <i class="fas fa-check">Enregistrer les modifications</i>
        </button>
        <a href="{{ path('admin_ads_index') }}" class="btn btn-danger">
             <i class="fas fa-arrow-circle-left"></i>
            Retour interface Admin
        </a>
        {{ form_end(form)}}  
    </div>

{% endblock %}